@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #F4F7FC;
    color: #02143B;
    -webkit-font-smoothing: antialiased;
  }

  /* Scrollbar personnalisée */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #F4F7FC;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3E5075;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #E53B46;
  }
}
